# created by virtualenv automatically
# Archivos y directorios específicos de Flask
instance/
*.pyc
*.pyo

# Directorios y archivos específicos de virtualenv
venv/
.env
.idea/

# Otras exclusiones comunes
*.pyc
*.log
*.swp
.DS_Store
