# Archivos y directorios específicos de Flask
__pycache__/
instance/
*.pyc
*.pyo
config.py

# Directorios y archivos específicos de virtualenv
venv/
.env

# Directorios y archivos específicos de PyCharm
.idea/

# Otras exclusiones comunes
*.pyc
*.log
*.swp
.DS_Store